@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;
}

*  h1{
    font-size: 1.7em;
}

:root{
    --cor01:red;
    --cor02:rgb(185, 10, 10);
    --cor03:#450706;
    --cor03-5:#640c0b;
    --cor04wh:white;
    --cor05bl:black;
    --cor06var: rgba(57, 55, 55, 0.663);
}

body,html{
    text-align: center;
    background-color: var(--cor03);
}

header{
    background-color:var(--cor02) ;
    text-align: center;
    height: 80px;
}

header > h1{
    padding-top: 10px;
    color: var(--cor04wh);
    font-size: 2.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 
 --Menu para o futuro--

header> nav> ul>li{
    display: inline-block;
    background-color: blue;
    padding: 5px;
} */

main{
    width: auto;
}

main h1{
    background-color: var(--cor05bl);
    color: var(--cor04wh);
    height: 40px;
    margin:auto;
    padding-top: 3px;
}

main img{
    margin: 6px auto ;
    width: 250px;
    height: 120px;
}

/**/

.nome{
    background-color: var(--cor05bl);
    color: var(--cor04wh);
    padding: px;
    margin-bottom: 2px;
}

.nome, .valor{
    padding: 3px;
    width: 72.1%;
    margin: auto;
}

.valor{
    background-color: var(--cor01);
    color: var(--corvalor);
    border-radius: 2px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.648);
}

.valor:hover{
    background-color:var(--cor03-5) ;
    box-shadow: inset 0px 0px -10px  rgba(0, 0, 0, 0.529);
    color: var(--cor04wh);
    transition: background-color 0.3s, color 0.3s, margin-top 1s;
    padding-bottom: 3px;
    margin-top: 3px;
    cursor: pointer;
}


/*CARROS IMPORTADOS ESTILIZAÇÃO*/
#importados{
    margin: 15px auto;
    padding-right: 40px;
    background-color: var(--cor04wh);
    width: 80vw ;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

section#importados > div{
    margin: 16px auto 40px auto;
    width:340px ;
    height: 200px;
    display: block;
    
}

/* CARROS POPULARES ESTILIZAÇÃO*/
#populares{
    margin: 15px auto;
    padding-right: 40px;
    background-color: var(--cor04wh);
    width: 80vw ;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

section#populares > div{
    margin: 16px auto 30px auto;
    width:340px ;
    height: 200px;
    display: block;
}

#populares>div img{
    width: 242px;
    height: 138px ;
}


#populares p{
    width: 70%;
}

/*CARROS BARATOS ESTILIZAÇÃO */
#baratos{
    margin: 15px auto;
    background-color:var(--cor04wh);
    width: 70vw ;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 70px;
    padding-left: 1px;
    
}

section#baratos > div{
    margin: 16px auto 30px auto;
    width:340px ;
    height: 200px;
    display: block; 
}

#baratos img{
    width: 226px;
    height: 138px;
}

#baratos p{
    width: 65%;
}

/*RODA PÉ DO SITE*/

footer{
    padding: 10px;
    background-color: var(--cor05bl);
    color: var(--cor04wh);
}

footer a{
    text-decoration: none;
    color:var(--cor04wh);
}

footer a:hover{
    color: yellow;
    text-decoration: underline;
}
